DEVELOPMENT=true

HOST=https://example-host.com
PORT=8000

TARGET_DOMAIN=https://site.com
TEST_TARGET_DOMAIN=https://site.com

VECTOR_DB_PROVIDER=qdrant or qdrant_cloud_inference
VECTOR_DB_EMBEDDING_MOEL=sentence-transformers/all-minilm-l6-v2
QDRANT_EMBEDDING_MODEL=sentence-transformers/all-minilm-l6-v2

USE_TEST_QDRANT_DB=true // switch to false when working with production db

QDRANT_API_KEY=your_api_key
QDRANT_CLUSTER_ENDPOINT=https://example-endpoint.com

TEST_QDRANT_API_KEY=your_test_api_key
TEST_QDRANT_CLUSTER_ENDPOINT=https://example-test-endpoint.com

DENSE_COLLECTION_NAME=questions_collection
SPARSE_COLLECTION_NAME=sparse_collection
CHUNK_COLLECTION_NAME=chunks_collection

DEFAULT_TOP_K=5
MIN_TOP_K=1
MAX_TOP_K=20

LLM_QGEN_PROVIDER=gemini
LLM_QGEN_API_KEY=your_gemini_api_key
LLM_QGEN_MODEL=gemini-3.1-flash-lite

LLM_QA_PROVIDER=gemini
LLM_QA_API_KEY=your_gemini_api_key
LLM_QA_MODEL=gemini-3.1-flash-lite

EMBEDDING_PROVIDER=gemini
EMBEDDING_MODEL=text-embedding-004
EMBEDDING_API_KEY=your_gemini_api_key_here
EMBEDDING_DIMENSION=768
EMBEDDING_TASK_TYPE=RETRIEVAL_DOCUMENT

VECTOR_DIM = 384

SEMANTIC_CACHE_PROVIDER=redis
SEMANTIC_CACHE_URL=https://example-url.com
SEMANTIC_CACHE_THRESHOLD=0.25
SEMANTIC_CACHE_TTL_SECONDS=604800
SEMANTIC_CACHE_INDEX_NAME=thesis_semantic_cache

SCRIPT_QGEN_USE_REAL_DATA=false
SCRIPT_QGEN_MIN_WORDS_PER_CHUNK=10