fastapi[standard]
beautifulsoup4
requests
python-dotenv
pytest
qdrant-client

# --- Database & Auth ---
sqlalchemy[asyncio]
asyncpg
alembic
passlib[bcrypt]
python-jose[cryptography]
python-multipart
google-genai
fastembed 
crawl4ai
langchain
langchain-text-splitters
google-auth
openai
redisvl
redis
sentence-transformers
