@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* prevents page-level scroll, forces inner div to handle it */
}

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
}
